{% extends "shared/layout.html" %} 

{% block content %}
<!-- Static files -->
<link rel="stylesheet" href="/static/css/login.css">

<!-- Body/content. -->
<div class="container">
    <div class="login">
        <h1>
            Login
        </h1>
        <form action="/auth/login" method="post">
            <div class="flashes">
                {% for message in get_flashed_messages(category_filter=["error"]) %}
                <div class="error">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>                 
                {% endfor %}
            </div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="e.g admin1O1" required>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="*************" required>
            <button type="submit">
                Login
            </button>
        </form>
    </div>
</div>
{% endblock %}